$itemHeight: 40px;
$borderColor: #d3d9de;
$borderColor2: #c9d0d6;
$buttonBg: #6285af;
$defaultBg: #fff;
$lightText: #fff;
$shadowColor: rgba(0,0,0,.1);
$scrollThumbColor: #dae1e8;
$scrollColor: #bec8d3;
$bgHoverColor: #f0f2f5;
$textGighlightColor: #e7edf2;
$subTextColor: #656565;