@import "util/styleguide";

.drop-down-autocomplete {
  &__input {
    font-size: 13px;
    outline: none;
    box-shadow: none;
    padding: 5px 6px;
    margin: 0;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 17px;
  }

  &__input_inline{
    display: inline-block;
    width: auto;
  }
}
