.drop-down{
  background: #305075;
  color: #d9e2ec;
  border-radius: 14px;
  padding: 6px 8px;
  display: inline-block;

  &__item {
    color: #42648b;
    background: white;
    list-style: none;
    padding: 15px 10px;
    &:hover{
      background: #f0f2f5;
    }
  }

  &__found-text {
    background: #e7edf2;
    font-style: normal;
  }

  &__item-container {
    background: white;
    padding: 0;
  }
}
