@import "util/styleguide";

.drop-down {
  background: $defaultBg;
  border: 1px solid $borderColor;
  border-radius: 1px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  overflow: visible;

  &__trigger {
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background: url(../img/arrow-down.svg) no-repeat center;
    background-size: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    outline: none;
  }

  &__item-container {
    background: white;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-wrapper {
    border: solid $borderColor2;
    border-width: 1px;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 3px $shadowColor;
    position: absolute!important; //надо разбираться где в плагине настроить
    margin-left: -1px;
  }

  &__scroll-vertical {
    position: absolute;
    width: 6px;
    height: calc(100% - 8px);
    margin-top: 4px;
    visibility: visible;
    right: 3px;
    top: 0;
    &:hover{
      width: 8px;
    }
  }

  doesnotexist:-o-prefocus, &__scroll-vertical {
    height: 100%;
  }

  &__scroll-thumb-vertical {
    position: relative;
    display: block;
    cursor: pointer;
    transform: translateY(0px);
    background: $scrollThumbColor;
    border-radius: 3px;
  }

  &__scroll-vertical:hover &__scroll-thumb-vertical {
    background: $scrollColor;
    border-radius: 4px;
  }
}
