$itemHeight: 40px;
$borderColor: #d3d9de;

.drop-down {
  background: #fff;
  border: 1px solid $borderColor;
  border-radius: 1px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  height:30PX;
  overflow: visible;

  &__trigger {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background: url('../img/arrow-down.svg') no-repeat center;
    background-size: 50%;
    position: absolute;
    right: 0;
    outline: none;
  }

  &__item-container {
    background: white;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-wrapper {
    border: solid #c9d0d6;
    border-width: 1px;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    position: absolute;
    margin-left: -1px;
  }

  &__scroll-vertical {
    position: absolute;
    width: 6px;
    height: calc(100% - 8px);
    margin-top: 4px;
    visibility: visible;
    right: 3px;
    top: 0;
    &:hover{
      width: 8px;
    }
  }

  &__scroll-thumb-vertical {
    position: relative;
    display: block;
    cursor: pointer;
    transform: translateY(0px);
    background: #dae1e8;
    border-radius: 3px;
  }


  &__scroll-vertical:hover &__scroll-thumb-vertical {
    background: #bec8d3;
    border-radius: 4px;
  }
}
