@import "util/styleguide";

.icon{
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;

  fill: $iconFill;

  &:hover{
    fill: $iconFillHover;
  }

  &_light{
    &:hover{
      fill: $iconFillLightHover;
    }
  }
}