@import 'util/styleguide';

.button{
  cursor: pointer;
  position: relative;
  background-color: $bgMain;
  border-radius: 2px;
  padding: 4px 5px 3px 8px;
  color: $lightText;
  line-height: 17px;

  &_light{
    background-color: $bgLighter;
    color: $lighterTextColor;
  }

  &_inline{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 1px 2px 2px 1px;
  }

  &__icon {
    display: block;
    border: none;
    float: right;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
    background: none;
    padding: 2px;
  }
}